* {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: black;
}

.nav-container {
    width: 100%;
    background-color: hsl(0, 0%, 10%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    color: white;
    font-size: 1.5rem;
    flex: 1;
    text-align: left;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    flex: 1;
    justify-content: center;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-spacer {
    flex: 1;
}

.content-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.card-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column; /* Stack cards vertically */
  gap: 20px;               /* Space between cards */
  padding: 30px;
  overflow-y: auto;
  height: 100vh;
  box-sizing: border-box;
}

.no-items-text {
  color: white;
  font-size: 1.2rem;
}

.filter-wrapper {
  background-color: hsl(0, 0%, 10%);
  width: 18%;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.filter-wrapper input {
  float: right;
}

.filter-wrapper ul li{
  color: white;
  margin-top: 20px;
  list-style: none;
}

.card-wrapper {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 88px;
  background-color: hsl(0, 0%, 10%);
  border: 1px solid hsl(0, 0%, 25%);
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  width: 90%;
  height: 250px;
  margin-top: 20px;
  margin-left: 30px;
}

.card-wrapper p, h1 {
  color: white;
}

.card-wrapper img {
  grid-row: 1 / 2;
  width: 150px;
  height: 160px;
  object-fit: contain;
}

#card-title {
  grid-column: 2;
  grid-row: 2;
  font-size: 1.5rem;
}

#card-price {
  grid-column: 3;
  grid-row: 2;
}

#card-area {
  grid-column: 2;
  grid-row: 4;
}

#card-rating {
  grid-column: 3;
  grid-row: 4;
}

.carousel-container {
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
}

.carousel-item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carousel-img {
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  height: 50vh;
  object-fit: contain;
  display: block;
}

.new-section {
  margin-top: 30px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.info-container > * {
  margin-bottom: 20px;
}

.info-container {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: left;
}

.info-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-header-row h1 {
  margin: 0;
}

.info-header-row p {
  margin: 0;
  font-size: 0.9em;
}

.used-status-info {
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
  max-width: 30%;
  text-align: center;
}

.bid-button {
  position: relative;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
  padding: 10px 55px;
  border-radius: 10px;
  font-size: 1.25em;
  cursor: pointer;
}

.bid-button span {
  position: relative;
  z-index: 1;
}

.bid-button::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: #272727;
  border-radius: 9px;
  transition: 0.5s;
}

.bid-button:hover::before {
  opacity: 0.7;
}

.bid-button::after {
  content: "";
  position: absolute;
  inset: 0px;
  background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
  border-radius: 9px;
  transition: 0.5s;
  opacity: 0;
  filter: blur(20px);
}

.bid-button:hover::after{
  opacity: 1;
}

.sens-info, .item-data {
  color: white;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: left;
}

.not-logged-in {
  display: flex;
  align-items: center;
  gap: 16px; 
}

.not-logged-in img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.item-data {
  margin-bottom: 50px;
  font-size: 0.85em;
}

.login, .register {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container, .register-container {
  color: white;
  background-color: hsl(0, 0%, 5%);
  border: 1px solid hsl(0, 0%, 15%);
  border-radius: 25px;
  max-width: 40%;
  padding: 40px 90px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.login-container input, .register-container input {
  margin-bottom: 20px;
}

.login-container h2 {
  align-self: flex-start;
  margin-bottom: 30px;
}

.login-container button, .register-container button {
  position: relative;
  text-decoration: none;
  color: white;
  background: rgb(6, 26, 63);
  padding: 7px;
  border-radius: 10px;
  font-size: 1em;
  cursor: pointer;
}













